@import 'var';
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
  > * {
    max-width: 240px;
  }
}
.section-title {
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
  color: $secondary-color;
}
