* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
}
.flex-box > * {
  max-width: 240px;
}

.section-title {
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
  color: #17353d;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.secondary-btn, .primary-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin: 3px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
.secondary-btn:hover, .primary-btn:hover {
  transform: scale(0.98);
}

.primary-btn {
  padding: 1rem 2rem;
  background: #faa700;
}

.secondary-btn {
  background: var(--clr-btn, #faa700);
}

.showcase__product--1 .secondary-btn {
  --clr-btn: #a1173c;
}

.showcase__product--2 .secondary-btn {
  --clr-btn: #2f4858;
}

.showcase__product--3 .secondary-btn {
  --clr-btn: #008951;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.mainHeader {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  text-align: center;
  color: #fff;
}
@supports (background-blend-mode: multiply) {
  .mainHeader {
    background: url(../img/shoe-2.png), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }
}
.mainHeader__mainTitle {
  width: 75%;
  margin: 0 auto;
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
  font-weight: 800;
  line-height: 1;
}
.mainHeader__sub {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .mainHeader__mainTitle {
    width: 100%;
  }
}

.featured {
  background: #eee;
  min-height: 100vh;
  text-align: center;
}
.featured__product {
  position: relative;
  display: block;
  transform: scale(0.8);
  transition: all 250ms ease-in-out;
}
.featured__product:hover {
  transform: scale(1);
}
.featured__product:hover p {
  display: block;
  color: #000;
  margin-top: 10px;
}
.featured__product:hover p span {
  display: block;
  font-size: 32px;
}
.featured__product:hover p.featured__product--shoe2 {
  margin-top: 35px;
}
.featured__product::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  padding: 90% 90% 0 0;
  background: #2193b0;
  border-radius: 50%;
  z-index: -1;
}
.featured p {
  display: none;
}

.showcase {
  text-align: center;
}
.showcase__product {
  display: flex;
  gap: 1rem;
  margin: 100px auto;
  padding: 50px;
  border-radius: 20px;
  min-height: 400px;
  background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
  color: #fff;
}
.showcase__product--title {
  font-size: clamp(3rem, 5vw + 1rem, 5.5rem);
  text-transform: uppercase;
  text-align: left;
  line-height: 1;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0.2em;
}
.showcase__product img {
  width: 40%;
}
@media (max-width: 768px) {
  .showcase__product {
    flex-direction: column;
  }
  .showcase__product--title {
    text-align: center;
  }
  .showcase__product--1 img, .showcase__product--3 img {
    order: 1;
  }
  .showcase__product--1 div, .showcase__product--3 div {
    order: 2;
  }
  .showcase img {
    width: 100%;
    margin: 20px 0;
  }
}

.showcase__product--1 {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.showcase__product--2 {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.showcase__product--3 {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}/*# sourceMappingURL=main.css.map */